/* import de fonte externa */
/* fonte roboto - google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset de margens e paddings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* criação das variáveis de css com base na RefCores */
/*Plano de fundo barra de navegação: #1E1F22
Títulos e plano de fundo botões: #FFAE00
Plano de fundo cards: RGBA(37, 37, 37, 0.8)
Textos: #ffffff
*/

:root{
    --barraNavegacao: #1E1F22;
    --tituloPlanoFundoBtn: #FFAE00;
    --planoFundoCards: rgba(37, 37, 37, 0.8);
    --corTextos: #ffffff;
    --font: 'Roboto', sans-serif;
}

body{
    background-image: url('materialCardapio/imagens/bg.png') ;
    color: var(--corTextos);
    font-family: var(--font);
}

header, footer{
    background-color: var(--barraNavegacao);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

a{
    color: var(--corTextos);
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 800;
}

main, section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    margin: 15px;
}

h2{
    color: var(--tituloPlanoFundoBtn);
    text-transform: uppercase;
}

.boxProduto{
    display: flex;
    background-color: var(--planoFundoCards);
    margin:20px ;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    flex-wrap: wrap;
}

.boxImg img{
    width: 400px;
}

.boxTexto{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    max-height: 600px;
    padding: 20px;
}

h3, p, button{
    margin: 10px;
}

button{
    width: 150px;
    background-color: var(--tituloPlanoFundoBtn);
    border-radius: 10px;
    padding: 10px;
    color: var(--corTextos);
}

footer{
    text-align: center;
}






